<div class="jumbotron container mt-3" id="chat">
    <h3>Chat</h3>
    <div class="form-group">
        <label for="email">Ingrese su Email</label>
        <input type="text" name="email" class="form-control" id="emailInput">
        <button class="btn btn-primary" id="email-button">Usar Mail</button>
        <hr>
        <div style="margin: 1em 2em" id="chat-box">
            
        </div>
        <hr>
        <textarea type="text" id="chat-text" class="form-control"></textarea>
        <button class="btn btn-primary" id="send-button">Enviar!</button>
    </div>
</div>